body {
  margin: 0px;
  background-color: #f1f1f1;

  box-sizing: border-box;
}

#gameWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  background-image: url(assets/fondo.png);
  background-repeat: repeat;
}
.fixed-hidden {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
}
